# Local development files, caches, build-outputs etc.
*.env*
.direnv
.devshell-bin
*.log
**.old*
target/
node_modules/
dist/
__pycache__/
src-crates/ffi/tests/python/.venv/
src-crates/ffi/tests/python/.pytest_cache/
src-crates/ffi/tests/python/bindings/

# General common file patterns
.DS_Store
.Trash
*.tmp*
*.tar*
